<div class="container pt-3 pb-3">
	<div class="card p-3">
		<h1 class="text-primary">Klimed</h1>
		<h4 class="text-primary">Sua saúde é nossa prioridade.</h4>
		<p>A Klimed é uma empresa brasileira com 2 anos de atividades e experiência no atendimento a empresas e particulares.</p>
		<p>O compromisso com o mais alto padrão de rigor médico e o foco na compreensão das necessidades das empresas clientes e particulares em geral, foram a base para a natural transformação, de uma clínica para uma provedora qualitativa de soluções em saúde.</p>
		<p>Os nossos 150 colaboradores além de procurar soluções adequadas aos problemas de saúde, tem como principal enfoco a compreensão e respeito de cada paciente.</p>

		<div class="row">
			<div class="col-6">
				<h1 class="text-primary">Nossa Missão</h1>
				<p>Prover soluções em saúde com padrão de excelência:</p>
				<ul>
					<li>No exercício da medicina;</li>
					<li>Na gestão de processos;</li>
					<li>Na identificação das necessidades únicas de pacientes e empresas clientes.</li>
				</ul>
			</div>

			<div class="col-6">
				<h1 class="text-primary">Nossos Valores</h1>
				<ul>
					<li>Prestar ao paciente cuidado integral, em lugar de tratar exclusivamente sua enfermidade;</li>
					<li>Oferecer sempre atendimento personalizado e humanizado;</li>
					<li>Exercer e valorizar, sempre, posturas éticas e transparentes;</li>
					<li>Valorizar iniciativas individuais e colectivas na busca de soluções;</li>
					<li>Inovar, melhorar processos e aprimorar a gestão.</li>
				</ul>
			</div>
		</div>

		<img src="assets/galeria/1.jpg"/>
	</div>
</div>

