<div class="container pt-3 pb-3">
	<div class="card p-3">
		<h1 class="text-primary">Login</h1>

		<form [formGroup]="form" (ngSubmit)="login()">
			<div class="text-left">
				<div class="form-group">
					<label for="email">E-mail:</label>
					<app-visual-validator [config]="validations" field="email">
						<input
							#emailInput
							id="email"
							type="email"
							class="form-control"
							formControlName="email"
							placeholder="Digite seu e-mail"
							autofocus
						>
					</app-visual-validator>
				</div>

				<div class="form-group">
					<label for="senha">Senha:</label>
					<app-visual-validator [config]="validations" field="senha">
						<input
							id="senha"
							type="password"
							class="form-control"
							placeholder="Digite sua senha"
							formControlName="senha"
						>
					</app-visual-validator>
				</div>
			</div>

			<div>
				<button class="btn btn-dark pl-5 pr-5 mb-3 mr-3" type="button" (click)="clear()">
					Limpar
				</button>
				<button class="btn btn-primary pl-5 pr-5 mb-3" type="submit" [disabled]="form.invalid">
					Login
				</button>
			</div>
		</form>
	</div>
</div>
