<div class="container pt-3 pb-3">
	<div class="card p-3 text-center">
		<h1 class="text-primary mb-3">Galeria Klimed</h1>

		<carousel>
			<slide>
				<img src="assets/galeria/1.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/2.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/3.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/4.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/5.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/6.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/7.jpg" class="d-block w-100">
			</slide>
			<slide>
				<img src="assets/galeria/8.jpg" class="d-block w-100 top">
			</slide>
		</carousel>
	</div>
</div>
